<tr class="{{className}}">
  {{#ifEqual type "user"}}
    <td class="profile-table-cell">{{userText}}</td>
    <td class="profile-table-cell">
      {{#if change}}
        {{{userInput}}}
      {{else}}
        user data
      {{/if}}
    </td>
  {{/ifEqual}}
  {{#ifEqual type "config"}}
    <td class="profile-table-cell">
      {{{link}}}
    </td>
  {{/ifEqual}}
  {{#ifEqual type "password"}}
    <td class="profile-table-cell">{{passwordText}}</td>
    <td class="profile-table-cell">{{{passwordInput}}}></td>
  {{/ifEqual}}
</tr>

<div class="profile-page">
    <div class="back-button-container">
        <form action="${ROUTES.chat}">
            <button class="round-button" type="submit"><img src={{leftArrowImage}} alt="left arrow" /></button>
        </form>
    </div>
    <div class="profile-container">
        <div class="avatar-container">
            <img class="avatar-image" src={{emptyAvatarImage}} alt="empty avatar" />
            <div class="avatar-mask"><span>{{{changeAvatarText}}}</span></div>
        </div>
        {{#if ${currentPath === ROUTES.profile}}}
          <h3 class="user-name">Александр</h3>"
        {{/if}}
        {{#if ${currentPath !== ROUTES.password}}}
            {{{ user }}}
            {{#if ${currentPath !== ROUTES.data}}}
                {{{ config }}}
            {{/if}}
        {{else}}
            {{{ password }}}
        {{/if}}
        {{#if ${currentPath !== ROUTES.profile}}}
            <form action="${ROUTES.profile}">
                {{{ saveButton }}}
            </form>
        {{/if}}
    </div>
</div>

<table class="profile-table user-data-table">
    <tbody>
      {{#each inputs}}
        <tr>
          <td class="profile-table-cell">{{text[@index]}}</td>
          <td class="profile-table-cell">{{{this}}}</td>
        </tr>
      {{/times}}
    </tbody>
</table>